.upper_navbar {
    z-index: 999;
    background: linear-gradient(132.99deg, #780DBD 38.1%, #A016B0 86.76%, #CA1FA3 107.44%);
}

.upper_navbar_text {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}